<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

  </div>
  <div class="wrapper">
    <a href="/categories.html">catégories</a>&nbsp;
    <a href="/README.html">A propos</a>
  </div>
</header>
