{% assign cat = site.html_pages | map: 'categories' | uniq | sort %} {% for category in cat %}
<div class="categorie {{ category }}">
  {% assign sorted-pages = site.html_pages | sort: 'title' %} 
  {% for page in sorted-pages %} 
    {% if page.categories == category %}
    <article class="summary">
      <h3>
        <a href="{{ page.url | relative_url }}">{{ page.title }}</a>
      </h3>
      <p>{{ page.description }}</p>
    </article>
    {% endif %}
  {% endfor %}
</div>
{% endfor %}