<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " fr " }}">

{%- include head.html -%}

<body>

    {%- include header.html -%}

<main class="page-content" aria-label="Content">
  <div class="wrapper">
      {% assign cat = site.html_pages | map: 'categories' | uniq | sort %}
    <div class="allCategories">
      {% for categorie in cat %} 
        {% if categorie != "info" %}
          <article class="summary">
            <h3>
              <a href="#{{ categorie }}">{{ categorie }}</a>
            </h3>
            <p>{{ page.description }}</p>
          </article>
        {% endif %}
      {% endfor %}
    </div>
      {%- include listByCategorie.html -%}
      <script>
        // pour afficher les div en fonction de la valeur du hash categorie
        document.addEventListener("DOMContentLoaded", evt => {
        

          hideDivs()
          const hash = document.location.hash.substring(1)
          document.location.hash = "entrée"
          if (hash){
          document.location.hash = hash
          }
        });
        function hideDivs() {
          const divs = document.querySelectorAll("div.categorie");
          
          divs.forEach(div => (div.style.display = "none"));
          
        }

        function displayOtherDiv(label) {
          hideDivs();
          const selectDiv = document.querySelector(`div.${label}`);
        
            selectDiv.style.display = "block";
        }

        window.addEventListener("hashchange", evt => {
          const categorie = decodeURI(document.location.hash.substring(1));
          displayOtherDiv(categorie);
        });
      </script>
    </div>
  </div>
</main>

{%- include footer.html -%}

</body>

</html>
