<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " fr " }}">
{%- include head.html -%}
<body>
  {%- include header.html -%}
  <main class="page-content" aria-label="Content">
    <div class="accueil">
      {{ content }}
    </div>
  </main>
  {%- include footer.html -%}
</body>
</html>
