<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " fr " }}">

{%- include head.html -%}

<body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
        <article class="post">
            <header class="post-header">
                <h1 class="post-title">{{ page.title | escape }}</h1>
                {% if page.description %}
                <p>par {{ page.author }}</p>
                {% endif %}
                <ul class="list-meta">
                    {% if page.description %}
                    <li>
                        <span class="field">description</span> : {{ page.description}} pour {{ page.nombre }}
                    </li>
                    {% endif %} {% if page.categorie %}
                    <li>
                        <span class="field">catégorie</span> :
                        <a href={{ page.url | relative_url }}>{{ page.categorie }}</a>
                    </li>
                    {% endif %} {% if page.niveau %}
                    <li>
                        <span class="field">niveau de difficulté</span> : {{ page.niveau }}
                    </li>
                    {% endif %} {% if page.licence %}
                    <li>
                        <span class="field">licence de réutilisation</span> : {{ page.licence }}
                    </li>
                    {% endif %} {% if page.temps-preparation %}
                    <li>
                        <span class="field">temps de préparation</span> : {{ page.temps-preparation }}
                    </li>
                    {% endif %} {% if page.temps-cuisson %}
                    <li>
                        <span class="field">temps de cuisson</span> : {{ page.temps-cuisson }}
                    </li>
                    {% endif %}
                </ul>
            </header>

            <div class="post-content">
                <img src="{{ page.image_url }}" alt="" class "illustration-recette"> {{ content }}
            </div>

        </article>

        </div>
        </main>

        {%- include footer.html -%}

        </body>

        </html>
